.env
venv/
backend/fastapi_backend/FakeNewsAI/Fake.csv
backend/fastapi_backend/FakeNewsAI/True.csv
backend/fastapi_backend/HateSpeech/HateSpeechDatasetBalanced.csv
backend/fastapi_backend/HateSpeech/embedded_data.csv
.vscode/settings.json
.vscode
__pycache__/
*.py[cod]