.env
venv/
backend/fastapi_backend/FakeNewsAI/Fake.csv
backend/fastapi_backend/FakeNewsAI/True.csv
backend/fastapi_backend/HateSpeech/HateSpeechDatasetBalanced.csv
backend/fastapi_backend/HateSpeech/embedded_data.csv
.vscode/settings.json
.vscode
__pycache__/
*.py[cod]
*.pyc
*.cpython-312.pyc
backend/django_backend/Discussion/Views/__pycache__/topic_view.cpython-312.pyc
backend/django_backend/Page/views/__pycache__/like_view.cpython-312.pyc
# Ignore Python bytecode
__pycache__/
*.py[cod]
*.cpython-*.pyc

# Virtual environment
venv/

# VSCode config
.vscode/

# Data files
*.csv

# System files
.env

