djangorestframework
drf-yasg
djangorestframework-simplejwt
pandas
numpy
scikit-learn
textstat
psycopg2-binary
django-cors-headers
requests
pytest
Pillow
celery
django-environ
loguru
graphene-django
django-graphql-jwt
redis